#hom, #menu, #catering, #contact, #loc {
  color:black;
}

p, h1,h2,h3,h4,h5,h6{
  text-align: center;
}

nav {
  position: fixed;
}
body, html {
    height: 100%;
}
label{
  font-size: 60%;
}

#req{
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  font-size: 30px;
}

#block {
  font-size: 50%;
}

.parallax1 {
    background-image: url('images/img2.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('images/img1.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url('images/img3.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    background-image: url('images/img4.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax5 {
    background-image: url('images/contact.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax6 {
    background-image: url('images/img5.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax7 {
    background-image: url('images/img6.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax8 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax9 {
    background-image: url('images/bangkok1.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax10 {
    background-image: url('images/london.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax11 {
    background-image: url('images/paris.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax12 {
    background-image: url('images/dubai.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax13 {
    background-image: url('images/singapore.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax14 {
    background-image: url('images/tokyo.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax15 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax16 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax17 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax18 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax19 {
    background-image: url('images/img7.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f5f5f5;
  padding: 10px;
}
.grid-item {
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 30px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #f5f5f5;
  padding: 10px;
}
.grid-item1 {
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 30px;
}
